<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice API</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>



   <header>

    <div class="medium">
    <ul>
       <li class="M">M</li>
       <li>Sign in</li>
       <li>Get Started</li>
    </ul>
    <ul>
       <li class="fccmed">FreeCodeCamp<i class="fa fa-free-code-camp" style="font-size:12px"></i></li>
       <li>DEV</li>
       <li>DESIGN</li>
       <li>DATA</li>
       <li>LEARN TO CODE FOR FREE</li>
       <li><i class="fa fa-search"></i></li>
       <li><i class="fa fa-twitter"></i></li>
       <li><i class="fa fa-facebook-official"></i></li>
       <li class="github__branding"><i class="fa fa-github"></i></li>
       <li>Follow</li>
    </ul>
  </div>
     
    </header>
    <image>
      <img src="https://avatars2.githubusercontent.com/u/5945067?v=4&amp;s=100" />
   </image>
   
    <h1>
        FreeCodeCamp API Basejump: Timestamp Microservice
      </h1>
    <main>
    <section class="leftBorder">
      <p>
      User Stories
      </p>
      <ol>
        <li> I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).</li>
        <li> If it does, it returns both the Unix timestamp and the natural language form of that date.</li>
        <li>If it does not contain a date or Unix timestamp, it returns null for those properties.</li>
       </ol>
      </section> 
      <section>
        <h2>
          Example Usage
        </h2>
        <code>
          <ul>
            <li>https://r282-timestamp-api.herokuapp.com/December%2015,%202015</li>
            <li>https://r282-timestamp-api.herokuapp.com/1450137600</li>
          </ul>
        </code>
        <h2>
          Example Output
        </h2>
        <code>
          <ul>
            <li>  { "unix": 1450137600, "natural": "December 15, 2015" }</li>
          </ul>
         
        </code>
      </section>
     
    </main>

    <footer>
     
    </footer>

  </body>
</html>
