
<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice API-Results</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
<h1>Timestamp Results</h1>
<results>
{ <span class="unix">unix:</span> <%= unix %> <span class="natural">natural:</span> <%= natural %> }
</results>
</body>
</html>